/* TODO */
*{
    scroll-behavior: smooth;
}
body{
    background-image: url(https://e0.pxfuel.com/wallpapers/585/940/desktop-wallpaper-gato-bonito-in-2020-cute-cat-cat-pattern-cartoon-cat-pattern.jpg);
    
}
hr{
    width: 900px;
}
/* CONTENEDORES */
main, footer{
    background-color: #f7d2c2;
    width: 900px;
    max-width: 100vw;
    min-width: 50vw;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 10px;
}
header{
    width: 900px;
    max-width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10px;
    border-radius: 10px;
}
main{
    margin-top: 70px;
}
#presentacion, #galeria, #viajes{
    width: 95%;
    text-align: center;
    margin: auto;
}
.recuadros{
    width: 93%;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}
footer{
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: center;
}
fieldset{
    background-color: #ffe3e8;
    border-color: #f08080;
}
/* NAVEGADOR */
header>nav>ul{
    margin-left: -40px;
    max-width: 100vw;
}
nav{
    width: 897px;
    max-width: 100vw;
    height: 70px;
    background-color: #f08080;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    border: 2px solid #912d2d;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul>li{
    font-size: 30px;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav>ul>li>a{
    text-decoration: none;
    color: #ffe3e8;
    padding: 10px;
    border-radius: 10px;
}
nav>ul>li :hover, nav>ul>li :active {
    background-color: #ffe3e8;
    color: lightcoral;
    border-radius: 10px;
    font-size: 35px;
    padding: 20px;
    border: 2px solid #912d2d;
}
/* IMAGENES */
img{
    max-width: 80vw;
}
#banner {
    display: block;
    border: 2px solid #912d2d;
    border-radius: 55px;
    margin: auto;
}
.foto-pais{
    width: 650px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #912d2d;
}
.bandera{
    width: 50px;
    height: 30px;
    border-radius: 20%;
    margin: 0 6px;
    border: 2px solid black;
}
.icono{
    border: 2px solid #912d2d;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 130px;
    left: 720px;
    background-color: white;
}
.fin-de-pagina{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    height: 130px;
    border: 2px solid #912d2d;
}
/* TEXTO */
#presentacion>p, #galeria>p, #viajes>p{
    padding-bottom: 10px;
}
h1{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    height: 55px;
    background-color: #f08080;
    color:#ffe3e8;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2{
    font-size: 35px;
    font-family: Georgia, serif;
    border-bottom: 3px solid #912d2d;
    padding: 10px;
    color: #A51717
}
h1, h2{
    text-align: center;
}
p{
    font-size: 19px;
}
footer>p{
    font-size: 15px;
}
legend{
    font-size: 30px;
}
#principal, .caption{
    text-align: center;
}
.receta{
    margin-top: -120px
}
.info{
    padding: 5px 0 0 5px
}
.pais{
    display: flex;
    justify-content: space-between;
}
/* LINKS */
a{
    text-decoration: none;
    color: rgb(176, 16, 16)
}
/* FORMULARIOS */
.info>input{
    width: 40%;
    text-align: left;
}
.info>label{
    width: 15%;
    text-align: right;
}
.info>input, .info>label{
    display:inline-block;
}
.boton{
    padding: 10px;
    margin: 10px;
}
/* VERSION PARA CELULARES */
@media(max-width: 1020px){
    header>nav>ul{
        width: 100vw;
        overflow: hidden;
        overflow-x: scroll;
    }
    .icono{
        position: relative;
        left: 0;
        width: 0;
        visibility: hidden;
    }
    main{
        width: 100vw;
        margin-top: 88px;
    }
    hr, fieldset, footer, nav, section{ 
        width: 100vw;
    }
    .recuadros{
        width: 100vw;
    }
    h1{
        height: 10vw;
    }
}
@media (max-width: 760px){
    header>nav>ul{
        width: 95vw;
        overflow: hidden;
        overflow-x: scroll;
    }
    .icono{
        position: relative;
        left: 0;
        width: 0;
        visibility: hidden;
    }
    main{ 
        width: 95vw;
        margin-top: 80px;
    }
    hr, fieldset, footer, nav, section{
        width: 95vw;
    }
    .recuadros{
        width: 84vw;
        margin-left: 0;
    }
    #presentacion{
        width: 80vw;
    }
    h1{
        font-size: 150%;
        padding-top: 2px;
        padding-bottom: auto;
    }
}